.premium-footer {
    background: linear-gradient(135deg, #d1fae5, #ecfdf5);
    padding: 50px 0;
    color: #065f46;
}

.premium-footer h5,
.premium-footer h6 {
    font-weight: 600;
}

/* LINKS */
.premium-footer a {
    text-decoration: none;
    color: #065f46;
}

.premium-footer a:hover {
    color: #16a34a;
}

/* INPUT */
.premium-footer input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    margin-bottom: 10px;
}

/* BUTTON */
.premium-footer button {
    width: 100%;
    background: #16a34a;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
}
