@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    30% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(0px);
    }

    70% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}

/*navbar stick part */
.sticky-header {
    position: sticky;
    top: 0;
    z-index: 1050;
    background: #fff;
}

.modal-backdrop.show {
    opacity: 0.5 !important;
}

.modal-content {
    border-radius: 12px;
}

.dropdown-menu {
    z-index: 2000 !important;
    position: absolute;
}

.navbar {
    position: relative;
    z-index: 1050;
}