/* =========================================================
   FILE: backend-layout.css
========================================================= */

html,
body {
    height: auto;
}

/* CARD BODY */

.card-body {
    overflow-x: auto;
}
